[submodule "Envii/thirdparty/spdlog"]
	path = Envii/thirdparty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Envii/thirdparty/glfw"]
	path = Envii/thirdparty/glfw
	url = https://github.com/dstacer/glfw
[submodule "Envii/thirdparty/imgui"]
	path = Envii/thirdparty/imgui
	url = https://github.com/dstacer/imgui
[submodule "Envii/thirdparty/glm"]
	path = Envii/thirdparty/glm
	url = https://github.com/g-truc/glm
[submodule "Envii/thirdparty/yaml-cpp"]
	path = Envii/thirdparty/yaml-cpp
	url = https://github.com/dstacer/yaml-cpp.git
